In [ ]:
#Q1
'''Database is a collection of Datas of different type and different sizes
SQL means Structured Query Language which stores similaar types of data in a tabular format
NOSQL means Not structured query language which stores data of different formats'''

In [ ]:
#Q2
'''DDL stands for Data Defination language. These commands are used to change the structure of a database and database objects.
For example, DDL commands can be used to add, remove, or modify tables with in a database.
1.CREATE
This command is used to create table in the relational database . 
This can be done by specifying the names and datatypes of various columns. 
CREATE TABLE TABLE_NAME
(
    column_name1 datatype1,
    column_name2 datatype2,
    column_name3 datatype3,
    column_name4 datatype4
);
2.ALTER
Alter command is used for altering the table in many forms like: 
a.Add a column
b.Rename existing column
c.Drop a column
d.Modify the size of the column or change datatype of the column

ALTER TABLE Student 
ADD
(Address  VARCHAR(200)); 

3.DROP
This command completely removes the table from the database along with the destruction of the table structure. 
DROP TABLE table_name;

4.TRUNCATE
This command removes all the records from a table. But this command will not destroy the table’s structure. 
TRUNCATE TABLE table_name;  '''

In [ ]:
#Q3
'''DML is an abbreviation of Data Manipulation Language.
The DML commands in Structured Query Language change the data present in the SQL database. 
We can easily access, store, modify, update and delete the existing records from the database using DML commands.
a.INSERT
INSERT is an important data manipulation command in Structured Query Language, which allows users to insert data in database tables.
INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;
b.UPDATE
UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.
UPDATE Table_name SET [column_name1= value_1, ….., column_nameN = value_N] WHERE CONDITION;  
c.DELETE
DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.
This command of Data Manipulation Language does not delete the stored data permanently from the database. 
We use the WHERE clause with the DELETE command to select specific rows from the table.
DELETE FROM Table_Name WHERE condition;'''

In [ ]:
#Q4
'''DQL statements are used for performing queries on the data within schema objects. 
The purpose of the DQL Command is to get some schema relation based on the query passed to it.
We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. 
It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. 
When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

SELECT * FROM TABLE_NAME; This command returns all the datas stored in the table.

In [ ]:
#Q5
'''The PRIMARY KEY constraint uniquely identifies each record in a table.
Primary keys must contain UNIQUE values, and cannot contain NULL values.
A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).
A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.

In [ ]:
#Q6
'''import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

cursor()
It is an object that is used to make the connection for executing SQL queries.
It acts as middleware between SQLite database connection and SQL

execute()
It is a method used to execute a sql querry against a database.'''

In [ ]:
#Q7
'''1. FROM / JOIN
2.WHERE
3.GROUP BY
4.HAVING
5.SELECT
6.ORDER BY
7.LIMIT/OFFSET'''